@font-face {
	font-family: 'Share Tech Mono';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(share_tech_mono_latin.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(roboto_mono_latin_300.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(roboto_mono_latin_700.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
	font-size: 14px;
	--grid-size: 20px;
}

::placeholder {
	color: gray;
}

.theme-dark {
	--bg-light: #424255;
	--bg-light-2: #37374c;
	--bg-medium: #2f2f40;
	--bg-dark: #232330;
	--bg-dark-2: #1b1b28;
	--bg-highlight: #5c5775;
	--bg-hover: #343448;
	--bg-disabled-input: #51515b;
	--bg-disabled-button: #61616f;
	--bg-discord: #36393f;
	--bg-grid: #1a1a21;
	--border-light: #656475;
	--border-medium: #45455b;
	--border-dark: #15151e;
	--border-dark-2: #000;
	--border-subgrid: #808080;
	--border-grid: #d3d3d3;
	--text: #fff;
	--text-discord: #caccce;
	--text-discord-timestamp: #a3a6aa;
	--text-disabled: #1a1a21;
	--bg-marker-edited: #5c5c73;
	--bg-switch-slider: #fff;
	/* replace below with new color mixing when that's out */
	--bg-marker-nickname: #3149a6;
	--border-marker-nickname: #4d70d9;
	--bg-marker-link: #6946c6;
	--border-marker-link: #876ad2;
	--bg-marker-solutions: #9d1a3a;
	--border-marker-solutions: #c43155;
	--bg-marker-unlocks: #939d00;
	--border-marker-unlocks: #c3ce27;
	--bg-marker-channel: #549d2b;
	--border-marker-channel: #7fd051;
	--bg-marker-role: #136f79;
	--border-marker-role: #23a3a3;
}

* {
	font-family: 'Share Tech Mono', monospace;
	box-sizing: border-box;
	scrollbar-width: thin;
}

*::-webkit-scrollbar {
	width: 5px;
}

body {
	margin: 0;
	padding: 0;
	color: var(--text);
}

#container {
	background-color: var(--bg-medium);
	position: absolute;
	overflow: scroll;
	height: 100%;
	width: calc(100% - 320px);
	right: 0;
}

#background {
	position: relative;
	width: 8000px;
	height: 5000px;
}

#grid {
	position: absolute;
	height: 100%;
	width: 100%;
}

/* toolbar */

#toolbar {
	position: absolute;
	left: 0;
	height: 100%;
	width: calc(var(--grid-size) * 16);
	background-color: var(--bg-medium);
	border-right: 2px solid var(--border-dark);
	text-align: center;
	user-select: none;
	overflow: hidden auto;
	scrollbar-width: none;
}

#toolbar::-webkit-scrollbar {
	display: none;
}

#toolbar-top-buttons {
	padding: 0px 12px;
}

.toolbar-joined-line {
	display: flex;
	justify-content: space-between;
	gap: 2px;
}

.toolbar-joined-line > * {
	flex-grow: 1;
}

.gap {
	gap: 10px;
}

.no-flex-grow {
	flex-grow: 0;
}

.toolbar-group {
	margin-top: 15px;
}

.toolbar-menu {
	background-color: var(--bg-dark);
	margin-top: 15px;
	padding: 1px 12px 25px;
	display: none;
}

/* toolbar elements */

button.changed span {
	display: inline;
}

input[type=text],
input[type=password] {
	width: 100%;
	height: 25px;
	text-align: center;
	border: none;
	border-radius: 1px;
}

input[type=text]:disabled {
	background-color: var(--bg-disabled-input);
	cursor: not-allowed;
}

textarea {
	width: 100%;
	height: 36px;
	min-height: 36px;
	resize: vertical;
	border: none;
	border-radius: 1px;
	word-break: break-all;
	font-size: 14px;
}

button {
	background-color: var(--bg-light);
	cursor: pointer;
	height: 26px;
	width: 100%;
	color: var(--text);
	border: none;
	border-bottom: solid 1px var(--border-dark);
	border-top: solid 1px var(--border-light);
	border-radius: 1px;
}

.small-button {
	width: 60px;
	flex-shrink: 0;
}

button:disabled {
	background-color: var(--bg-disabled-button);
	color: var(--text-disabled);
	cursor: not-allowed;
}

button:hover:not(:disabled),
.active-button:not(:disabled) {
	border-top: solid 1px var(--border-dark);
	border-bottom: solid 1px var(--border-dark);
	background-color: var(--bg-hover);
}

label:not(.switch):not(.import_file_button) {
	display: block;
	margin-bottom: 8px;
}

.label-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 28px;
	flex: unset;
	transform: translateY(1px);
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #aaa;
	transition-duration: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: var(--bg-switch-slider);
	transition-duration: 0.3s;
}

input:checked + .slider {
	background-color: var(--bg-highlight);
}

input:checked + .slider:before {
	transform: translateX(26px);
}

.category_list_container {
	height: 120px;
	width: 100%;
	background-color: var(--bg-dark-2);
	overflow: hidden scroll;
}

.category-list {
	padding: 0;
	margin: 0;
	background-color: var(--bg-dark-2);
	width: 100%;
}

.category-list li {
	position: relative;
	display: block;
	transition-property: transform;
	transition-duration: 0.1s;
	transition-timing-function: ease-in;
	font-family: 'Share Tech Mono', monospace;
	background-color: var(--bg-light-2);
	cursor: pointer;
	height: 26px;
	line-height: 25px;
	border-bottom: solid 1px var(--border-dark-2);
	border-left: 2px solid;
	padding: 0px 10px 0px 26px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.category-list li:hover {
	background-color: var(--bg-dark);
}

.selected-category {
	background-color: var(--bg-highlight) !important;
}

.handle {
	width: 10%;
	text-align: left;
	position: absolute;
	left: 10px;
	color: var(--border-light);
}

#add_category_button,
#remove_category_button {
	font-size: 30px;
	line-height: 1px;
}

input[type=color] {
	width: 20px;
	height: 20px;
	padding: 1px;
	border: none;
}

input[type=color]:disabled {
	cursor: not-allowed;
}

/* discord preview */

#discord_container {
	border-radius: 10px;
	width: 100%;
	background-color: var(--bg-discord);
	text-align: left !important;
	padding: 10px;
	border: 1px outset var(--border-light);
}

#discord_container span {
	font-family: sans-serif;
}

.discord_message {
	margin-top: 2px;
	margin-bottom: -30px;
}

.discord_message div {
	display: inline-block;
}

.discord_message img {
	width: 40px;
	border-radius: 50%;
	margin-right: 5px;
}

.discord_user {
	position: relative;
	color: pink;
	margin-right: 5px;
	top: -40px;
	width: 218px;
	line-height: 20px;
}

.discord_username {
	max-width: 200px;
}

.discord_text_content {
	position: relative;
	margin-left: 50px;
}

.discord_message:nth-of-type(2) .discord_username {
	color: #bbaeee;
}

.discord_message:nth-of-type(3) .discord_username {
	color: #f3ffc2;
}

.discord_text {
	position: relative;
	color: var(--text-discord);
	top: -37px;
}

.discord_time {
	color: var(--text-discord-timestamp);
	font-size: 11px;
}

.discord_warning {
    width: 100%;
    margin: 0 auto;
    padding: 7px;
    border-radius: 1px;
    border-left: solid 5px var(--border-light);
    background-color: var(--bg-medium);
}

/* block content */

.block {
	background-color: var(--bg-light);
	position: absolute;
	width: calc(var(--grid-size) * 8);
	height: calc(var(--grid-size) * 4);
	border-bottom: solid 1px var(--border-dark);
	border-top: solid 1px var(--border-light);
	border-radius: 1px;
	z-index: 1;
}

.block p {
	margin-top: 15px;
	margin-left: 7px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.markers-div {
	position: absolute;
	bottom: 0;
	background-color: var(--bg-dark);
	height: 30px;
	border-top: 1px var(--bg-dark) solid;
	width: 100%;
}

.marker {
	font-weight: bold;
	font-family: 'Roboto Mono', monospace;
	display: inline-block;
	line-height: 12px;
	font-size: 10px;

	width: 14px;
	height: 14px;
	border-radius: 2px;

	margin-top: 8px;
	margin-left: 7px;
	padding-left: 3px;

	background-color: var(--border-dark);
	border-top: 1px solid var(--border-dark-2);
	border-left: 1px solid var(--border-dark-2);
	border-bottom: 1px solid var(--border-medium);
	border-right: 1px solid var(--border-medium);
	color: var(--bg-light);
}

.edited-category-mark {
	position: absolute;
	font-weight: bold;
	font-family: 'Roboto Mono', monospace;
	line-height: 18px;
	font-size: 24px;
	color: var(--bg-marker-edited);
	filter: grayscale(100%) brightness(1.4);
	right: 18px;
	display: none;
}

.block.has_nickname_suffix .marker_nickname_suffix {
	background-color: var(--bg-marker-nickname);
	border-top: 1px solid var(--border-marker-nickname);
	border-left: 1px solid var(--border-marker-nickname);
	border-bottom: none;
	border-right: none;
	color: var(--text);
}

.block.has_link .marker_link {
	background-color: var(--bg-marker-link);
	border-top: 1px solid var(--border-marker-link);
	border-left: 1px solid var(--border-marker-link);
	border-bottom: none;
	border-right: none;
	color: var(--text);
}

.block.has_solutions .marker_solutions {
	background-color: var(--bg-marker-solutions);
	border-top: 1px solid var(--border-marker-solutions);
	border-left: 1px solid var(--border-marker-solutions);
	border-bottom: none;
	border-right: none;
	color: var(--text);
}

.block.has_unlocks .marker_unlocks {
	background-color: var(--bg-marker-unlocks);
	border-top: 1px solid var(--border-marker-unlocks);
	border-left: 1px solid var(--border-marker-unlocks);
	border-bottom: none;
	border-right: none;
	color: var(--text);
}

.block.has_discord_channel .marker_discord_channel {
	background-color: var(--bg-marker-channel);
	border-top: 1px solid var(--border-marker-channel);
	border-left: 1px solid var(--border-marker-channel);
	border-bottom: none;
	border-right: none;
	color: var(--text);
}

.block.has_discord_role .marker_discord_role {
	background-color: var(--bg-marker-role);
	border-top: 1px solid var(--border-marker-role);
	border-left: 1px solid var(--border-marker-role);
	border-bottom: none;
	border-right: none;
	color: var(--text);
}

.block.has_edited .marker_edited,
.block.edited .marker_edited {
	display: unset
}

.marker_edited {
	font-weight: bold;
	background-color: transparent;
	border: none;
	font-size: 24px;
	position: absolute;
	margin-top: -11px;
	right: 9px;
	display: none;
	color: var(--bg-marker-edited);
}

.selected::after {
	content: "";
	opacity: 0.15;
	position: absolute;
	top: -1px;
	width: 100%;
	height: 50px;
	background: linear-gradient(
			60deg,
			#5F86F2,
			#A65FF2,
			#F25FD0,
			#574dd9,
			#4b78d8,
			#4bbed8,
			#4bbed8
	);
	background-size: 300% 300%;
	background-position: 0 50%;
	animation: move-gradient 6s infinite;
}

@keyframes move-gradient {
	50% {
		background-position: 100% 50%;
	}
}

/* tooltips */

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	min-width: 80px;
	border-radius: 1px;
	background-color: var(--bg-light);
	color: var(--text);
	text-align: center;
	padding: 5px;
	position: absolute;
	z-index: 1;
	top: 125%;
	left: 100%;
	margin-left: -55px;
}

.tooltiptext:hover {
	visibility: hidden !important;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 53%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent var(--bg-light) transparent;
}

/* dialogs */

#page-overlay {
	position: fixed;
	z-index: 10000;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	display: none;
}

.popup {
	position: fixed;
	z-index: 10001;
	top: 50%;
	left: 50%;
	width: 500px;
	padding: 0px 15px 15px;
	transform: translate(-50%, -50%);
	accent-color: var(--bg-highlight);
	background-color: var(--bg-medium);
	border-bottom: 1px solid var(--border-dark);
	border-top: solid 1px var(--border-light);
	color: var(--text);
	border-radius: 1px;
	display: none;
}

#sync_popup textarea {
	height: 200px;
}

#upload-file-wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 20px;
	border-radius: 10px;
	border: 3px dashed var(--bg-highlight);
	transition-duration: 0.2s;
	user-select: none;
	line-height: 32px;
}

.upload-file-wrapper-highlight {
	background-color: var(--bg-light);
}

.upload-file-wrapper-highlight * {
	pointer-events: none;
}

.upload-file-icon {
	fill: var(--bg-highlight);
	margin: auto;
	display: block;
}

.import_file_button {
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	transition-duration: 0.2s;
	cursor: pointer;
	text-decoration: dotted;
}

.import_file_button:hover {
	color: var(--bg-highlight);
}

#import_file_input {
	display: none;
}
