@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    font-family: 'Share Tech Mono', monospace;
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

input {
    width: 91%;
    text-align: center;
    font-size: 14px;
    margin-top: 3px;
    height: 23px;
    border: none;
}

textarea {
    width: 91%;
    height: 36px;
    resize: vertical;
    border: none;
}

::placeholder {
    color: gray;
}

button {
    font-family: 'Share Tech Mono', monospace;
    background-color: #424255;
    margin-top: 0px;
    cursor: pointer;
    border: none;
    height: 26px;
    width: 91%;
    color: #fff;
    text-transform: lowercase;
    border-bottom: solid 1px #000;
    border-top: solid 1px #656475;
}

button:hover {
    background-color: #363646;
    border-top: solid 1px #111;
}

.block {
    box-sizing: border-box;
    background: #424255;
    position: absolute;
    width: 160px;
    height: 80px;
    color: #fff;
}

.block p {
    margin-top: 15px;
    margin-left: 7px;
    font-weight: bold;
}

.marker {
    width: 14px;
    padding: 3px 3px 3px 6px;
    margin-top: 5px;
}

.marker_edited {
	float: right;
    display: none;
}

.block.edited .marker_edited {
    display: unset;
}


.block .marker_solutions, .marker_discord_channel, .marker_discord_role, .marker_unlocks, .marker_extra_discord_role {
    display: none;
}

.block.has_solutions .marker_solutions {
    display: unset;
}

.block.has_discord_channel .marker_discord_channel {
    display: unset;
}

.block.has_discord_role .marker_discord_role {
    display: unset;
}

.block.has_unlocks .marker_unlocks {
    display: unset;
}

.block.has_extra_discord_role .marker_extra_discord_role {
    display: unset;
}

.block.has_solutions .marker_inactive_solutions {
    display: none;
}

.block.has_discord_channel .marker_inactive_discord_channel {
    display: none;
}

.block.has_discord_role .marker_inactive_discord_role {
    display: none;
}

.block.has_unlocks .marker_inactive_unlocks {
    display: none;
}

.block.has_extra_discord_role .marker_inactive_extra_discord_role {
    display: none;
}

#grid {
    position: absolute;
    height: 100%;
    width: 100%;
}

#toolbar {
    background: #2f2f40;
    position: absolute;
    text-align: center;
    user-select: none;
    z-index: 9999;
    height: 100%;
    width: 320px;
    color: #fff;
    left: 0;
    overflow-y: auto;
}

#category_buttons {
    margin-left: 7px;
}

#category_buttons button {
    width: 150px;
    height: 26px;
    margin-left: -6px;
}

#toolbar-buttons button {
    margin-left: 2px;
}

.markers-div {
    position: absolute;
    bottom: 0;
    background: #232330;
    width: 100%;
    height: 30px;
    border-top: 1px red solid;
}

#discordstuff button {
    width: 20%;
}

#discordstuff input {
    width: 70%;
    margin-right: 4px;
}

.toolbar-group {
    margin-top: 15px;
}

#toolbar-level {
    margin-top: 17px;
    background-color: #232330;
    padding-top: 1px;
    padding-bottom: 25px;
    display: none;
}

#toolbar-category {
	margin-top: 17px;
    background-color: #232330;
	padding-top: 1px;
    padding-bottom: 25px;
    display: none;
}

#category_list {
    height: 150px;
	overflow: scroll;
	overflow-x: hidden;
	padding: 0;
}

#category_list li {
	box-sizing: border-box;
    font-family: 'Share Tech Mono', monospace;
    background-color: #37374c;
    cursor: pointer;
    border: none;
    height: 26px;
	line-height: 25px;
    width: 286px;
    color: #fff;
    text-transform: lowercase;
    border-bottom: solid 1px #000;
	list-style-type: none;
	border-left: solid 2px red;
	margin-left: 15px;
}

#category_list li:hover {
    background-color: #2b2b3d;
}

#category_id button {
    width: 20%;
}

#category_id input {
    width: 70%;
    margin-right: 4px;
}

#discord_category_name {
    width: 94%;
}

#discord_category_color {
    width: 16px;
	height: 16px;
}

.toolbar-row {
    margin-top: 14px;
}

#container {
    background: #2f2f40;
    position: absolute;
    overflow: scroll;
    height: 100%;
    width: calc(100% - 320px);
    right: 0;
}

#background {
    position: relative;
    width: 8000px;
    height: 5000px;
}

.selected::after {
    opacity: 0.3 !important;
    position: absolute;
    content: "";
    top: calc(-1 * 1px);
    left: calc(-1 * 1px);
    z-index: -1;
    width: calc(100% + 1px * 2);
    height: calc(100% + 1px * 2);
    background: linear-gradient(
            60deg,
            hsl(224, 85%, 66%),
            hsl(269, 85%, 66%),
            hsl(314, 85%, 66%),
            hsl(359, 85%, 66%),
            hsl(44, 85%, 66%),
            hsl(89, 85%, 66%),
            hsl(134, 85%, 66%),
            hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: 0;
    animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
    }
}
