body {
     margin: 0;
     padding: 0;
}
h3 {
     margin-bottom: 15px;
	 display: none;
}

hr {
	display: none;
}

button:nth-child(3n){
	margin-top: 20px;
}
button {
    font-family: "Lucida Console";
     background-color: #2A5F90;
     margin-top: 5px;
     cursor: pointer;
     border: none;
     height: 30px;
     width: 100%;
	 color: #fff;
	 text-transform: lowercase;
	 border-bottom: solid 1px #1a3b59;
}
button:hover {
     background-color: #285177;
}
button:hover:focus:active {
     background-color: #1a364f;
}
.block {
     box-sizing: border-box;
     background: #eee;
     position: absolute;
     width: 160px;
     height: 140px;
     padding: 4px;
}
.selected {
     box-shadow: 0px 0px 5px 1px #f2ffA3 !important;
}
.edited {
     border: 1px red solid;
}
#grid {
     position: absolute;
     height: 100%;
     width: 100%;
}
#toolbar {
     font-family: "Lucida Console";
     background: #0e65b7;
     position: absolute;
     text-align: center;
     user-select: none;
     z-index: 9999;
     height: 100%;
     width: 160px;
     color: #fff;
     left: 0;
}
#container {
     background: #104D88;
     position: absolute;
     overflow: scroll;
     height: 100%;
     width: calc(100% - 160px);
     right: 0;
}
#background {
    position: relative;
    width: 5000px;
    height: 5000px;
}