@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Share+Tech+Mono&display=swap');

body {
	color: #111;
	background-color: #ddd;
	font-family: 'Roboto', sans-serif;
}

table {
	font-family: 'Roboto', sans-serif;
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

table td, table th {
	border-bottom: 1px solid #ddd;
	padding: 8px;
}

table tr {
	background-color: #f2f2f2; 
}

table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #313131;
	color: white;
	text-transform: uppercase;
	font-size: 14px;
}

#leaderboard {
	width: 40%;
	margin: 0 auto;
	margin-bottom: 20px;
}

#leaderboard::after {
	position: fixed;
	content: "";
	top: 0px;
	left: 29%;
	z-index: -1;
	width: 42%;
	min-height: 100vh;
	background: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0);
	background-size: 300% 300%;
	background-position: 0 50%;
	animation: moveGradient 50s alternate infinite;
	opacity: 0.9;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

@keyframes moveGradient {
	50% {
		background-position: 100% 50%;
		}
}

.user-block img {
	width: 40px;
	border-radius: 50%;
}

table th:first-child {
	width: 120px;
}

.user-block {
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 5px;
	margin-bottom: 5px;
}

.user-block img {
	margin-right: 10px;
}

h3 {
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
	font-size: 26px;
	color: white;
}
