{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/base.css">
<link rel="stylesheet" href="/static/styles/{{ style }}.css">
<script>
const users = {{ users_json|safe }};
const scores = {{ scores_json|safe }};
function updateLeaderboard() {
	const leaderboardPoints = document.getElementById('leaderboard-points');
	const categoryChecks = document.getElementsByClassName('category-check');
	const categories = Array.from(categoryChecks).filter(e => e.checked).map(e => e.value);
	while (leaderboardPoints.firstChild)
		leaderboardPoints.removeChild(leaderboardPoints.firstChild);
	const scoreGroups = {};
	for (let [uid, user] of Object.entries(users)) {
		if (user.admin || !(uid in scores))
			continue;
		let score = 0;
		for (let [categoryId, categoryScore] of Object.entries(scores[uid])) {
			if (categories.includes(categoryId))
				score += categoryScore;
		}
		if (score === 0)
			continue;
		if (scoreGroups[score] === undefined)
			scoreGroups[score] = [];
		scoreGroups[score].push(user);
	}
	for (let [points, users] of Object.entries(scoreGroups).reverse()) {
		const pointsRow = document.createElement('tr');
		const pointsCell = document.createElement('td');
		pointsCell.textContent = points;
		pointsRow.appendChild(pointsCell);
		const usersCell = document.createElement('td');
		for (let user of users) {
			const userBlock = document.createElement('div');
			userBlock.classList.add('user-block');
			const userImage = document.createElement('img');
			if (user.avatar)
				userImage.src = user.avatar.replace('?size=1024', '?size=60');
			else
				userImage.src = 'https://cdn.discordapp.com/embed/avatars/1.png';
			usersCell.appendChild(userImage);
			const userNick = document.createElement('span');
			userNick.textContent = user.nick;
			userNick.classList.add('user-nick');
			userBlock.append(userImage, userNick, document.createTextNode(' '));
			usersCell.appendChild(userBlock);
		}
		pointsRow.appendChild(usersCell);
		leaderboardPoints.appendChild(pointsRow);
	}
}
document.addEventListener('DOMContentLoaded', () => {
	const categoryChecks = document.getElementsByClassName('category-check');
	for (let categoryCheck of categoryChecks)
		categoryCheck.onchange = updateLeaderboard;
	updateLeaderboard();
});
</script>
{% endblock %}

{% block content %}
<h3>leaderboard</h3>
	<div id="category-checks">
	{% for category in categories %}
		<label><input class="category-check" type="checkbox" checked value="{{ category.id }}" style="accent-color: {{ category.css_colour }}">{{ category.name }}</label>
	{% endfor %}
	</div>
	<table id="leaderboard">
		<thead>
			<tr><th>Levels solved</th><th>Users</th></tr>
		</thead>
		<tbody id="leaderboard-points"></tbody>
	</table>
{% endblock %}
