{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/style.css">
<script>
document.addEventListener('DOMContentLoaded', () => {
	const categoryChecks = document.getElementsByClassName('category-check');
	for (let categoryCheck of categoryChecks) {
		categoryCheck.onchange = () => {
			const categories = Array.from(categoryChecks).filter(e => e.checked).map(e => e.value).join(',');
			console.log(categories);
			fetch(`/api/leaderboard?categories=${categories}`).then(r => r.json()).then(r => {
				const leaderboardPoints = document.getElementById('leaderboard-points');
				while (leaderboardPoints.firstChild)
					leaderboardPoints.removeChild(leaderboardPoints.firstChild)
				for (let [points, users] of Object.entries(r).reverse()) {
					const pointsRow = document.createElement('tr');
					const pointsCell = document.createElement('td');
					pointsCell.textContent = points;
					pointsRow.appendChild(pointsCell);
					const usersCell = document.createElement('td');
					for (let user of users) {
						const userBlock = document.createElement('div');
						userBlock.classList.add('user-block');
						const userImage = document.createElement('img');
						if (user.avatar)
							userImage.src = user.avatar.replace('?size=1024', '?size=60');
						else
							userImage.src = 'https://cdn.discordapp.com/embed/avatars/1.png';
						usersCell.appendChild(userImage);
						const userNick = document.createElement('span');
						userNick.textContent = user.nick;
						userNick.classList.add('user-nick');
						userBlock.append(userImage, userNick, document.createTextNode(' '));
						usersCell.appendChild(userBlock);
					}
					pointsRow.appendChild(usersCell);
					leaderboardPoints.appendChild(pointsRow);
				}
			});
		};
	}
});
</script>
{% endblock %}

{% block content %}
<a href="/admin">admin</a><br>
<h3>leaderboard</h3>
	<div id="category-checks">
	{% for category in categories %}
		<label><input class="category-check" type="checkbox" checked value="{{ category.id }}" style="accent-color: {{ category.css_colour }}">{{ category.name }}</label>
	{% endfor %}
	</div>
	<table id="leaderboard">
		<thead>
			<tr><th>Levels solved</th><th>Users</th></tr>
		</thead>
		<tbody id="leaderboard-points">
		{% for points, users in user_points %}
			<tr><td>{{ points }}</td><td>
			{% for user in users %}
				<div class="user-block"><img src="{{ user.avatar_size(60) }}"><span class="user-nick">{{ user.nick }}</span></div>
			{% endfor %}
			</td></tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
